.footerbar{	
	position: fixed;
	bottom: 0;
	background: #183D3D;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.25rem;
	padding: 0.625rem;
}

/* .pagination {
	position: fixed;
	bottom: 0;
	background: #111919;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	padding: 0.625rem;
} */
.footerbar__container{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}
.footerbar__buttons{
	display: flex;
	gap: 2rem;
}
.footerbar__buttons button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 3.125rem;
	width: 12.5rem;
	background: #040D12;
	color: #93B1A6;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}
.footerbar__buttons button:hover {
	color: #040D12;
	background: #5C8374;
} 
.copyright{
	margin-top: 1rem;
}