.form_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    /* padding: var(--spacing-8) var(--spacing-68) var(--spacing-8) var(--spacing-68); */
}

.form{
    background-color: var(--dark-bg-solid);
    padding: 1rem;
}
.form h2, .form a, label{
    color: var(--primary-solid);
}
.actions{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}