.detail_container{
    display: flex;
    text-align: center;
    max-width: 1200px; 
}

.detail_container__img{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
    border-radius:15px ;
}
.detail_container__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}