* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #403f3f;
}
.header{
	text-align: center;
	margin: 1rem;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 2.5rem auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-columns: repeat(4, 1fr);
	gap: 2.5rem;
}

.card {
	width: 220px;
    height: 350px;
    background: white;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}
.card__img{   
    width: 100%; 
    height: 70%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card__text {    
    height: 30%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__text .card__title {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.card__text p {
    font-family: 'Lucida Sans' sans-serif;
    color: #1d1c1c;
    font-size: 13px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #bebebe,
               -5px -5px 10px #bebebe;
}
.container_details{
	justify-content: center;
	align-items: center;
}
.details{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 70%;
}
.details__text{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	gap: 1rem;
}

.pagination {
	position: fixed;
	bottom: 0;
	background: #111919;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	padding: 0.625rem;
}

.pagination button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 3.125rem;
	width: 12.5rem;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.pagination button:hover {
	background: #137c32;
} 